
// BEM - Block, Element, modifier
// always use classes!!

// Block
.item { 
	background: white;
	border: 1px solid #e8e8e8;
	margin-bottom: 1.3rem;
	padding: 1.3rem;

}

// Modifer
.item--last-item {

}

// Element
.item__message { // the double underscore is just a naming convention!
	color: purple;
	font-weight: 300;
	font-size: 1.3rem;
	font-style: italic;
	text-align: center;
}
